---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import WorksText from "../components/WorksText.astro";
import WorksMusic from "../components/WorksMusic.astro";
import WorksPhoto from "../components/WorksPhoto.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-3xl mx-auto">
    <Header />
    <Hero />
    <About />
    <WorksText />
    <WorksMusic />
    <WorksPhoto />
    <Footer />
  </div>
</Layout>
