---
import Section from "./Section.astro";
import Block from "./Block.astro";
import { Image } from "astro:assets";
import meImage from "../assets/me3.jpg";
---

<Section title="私について">
  <Block title="康凱爾（こう・かいじ）">
    <p class="py-2">
      台湾研究者。専門は台湾文化論。音楽作家。プログラマ。日本名は出田康一郎。
    </p>
    <p class="py-2">
      1981年東京生まれ。東京芸術大学音楽学部楽理科卒業。現在、國立台灣師範大學台灣語文學系碩士班に在籍中。
    </p>
    <p class="py-2 pb-24">
      2011年から台湾在住。 現地企業勤務を経て、<a
        href="https://codetakt.com"
        target="_blank">東京の教育系ベンチャー</a
      >にリモートで参画し、プログラマとしてソフトウェア開発に従事する傍ら、日常生活を通して台湾について考えている。
    </p>
    <Image
      src={meImage}
      alt="Me"
      class="object-cover w-full h-64 object-[0_60%] rounded-lg opacity-90 grayscale-75 sepia-30"
    />
  </Block>
</Section>
