---
const { title } = Astro.props;
---

<div class="md:flex items-start min-h-screen">
  <h2
    class="flex sticky top-0 md:top-24 left-0 whitespace-nowrap items-center md:pb-24 pl-8 md:pl-0 py-8 md:py-0"
  >
    <span class="invisible text-2xl tracking-[.3em]">康凱爾</span>
    <section-title class="opacity-0 md:min-w-32 text-xs px-2">
      <span>{title}</span>
    </section-title>
  </h2>
  <article class="pl-8 pr-8 md:pl-12 w-full py-36 md:py-24">
    <slot />
  </article>
</div>

<script>
  class SectionTitle extends HTMLElement {
    previousTop: number | undefined;

    static initialTop =
      document.querySelector("#section-title-anchor")?.getBoundingClientRect()
        .top || 0;

    constructor() {
      super();
    }

    get currentTop() {
      return this.getBoundingClientRect().top;
    }

    get distance() {
      return Math.abs((SectionTitle.initialTop || 0) - this.currentTop);
    }

    handleFade() {
      if (this.distance > window.innerHeight) return;
      if (this.previousTop === this.currentTop) return;
      this.style.opacity = String(
        1 - Math.min((this.distance / SectionTitle.initialTop) * 1.5, 1),
      );
      this.previousTop = this.currentTop;
    }

    connectedCallback() {
      this.handleFade();
      document.addEventListener("scroll", () => this.handleFade());
    }
  }

  customElements.define("section-title", SectionTitle);
</script>
