---
import Section from "./Section.astro";
import Block from "./Block.astro";
import Separator from "./Separator.astro";
import { Image } from "astro:assets";
import fluonikaImage from "../assets/fluonika.jpg";
import gardenerImage from "../assets/gardener.jpg";
---

<Section title="作曲したもの">
  <Block title="Fluonika / フルオニカ" publishedAt="2024 - ">
    <p class="py-2">
      Beyond sound, where words fade.<br />
      言葉にできない感情、音楽にできない文脈。それぞれが溶け合う地平で。
    </p>
    <p class="py-2">
      快楽的なビートは何かを表現しうるのか？詩情溢れるLo-Fiビートプロジェクト。
      各種ストリーミングサービスにて配信中。
    </p>
    <p class="pb-24">
      <a
        class="after:content-[',']"
        href="https://open.spotify.com/intl-ja/artist/5taUCZrwq5k8PDarTV56yP?si=0AjiTkyAQC2XDHOv19l8Og"
        target="_blank">Spotifyで聴く</a
      >
    </p>
    <Image
      src={fluonikaImage}
      alt="Me"
      class="object-cover w-full h-64 object-[0_100%] rounded-lg opacity-90 grayscale-45 sepia-30"
    />
  </Block>
  <Separator />
  <Block title="Gardener / 庭師" publishedAt="2021">
    <p class="py-2">
      "someone who works in a garden, growing plants and making it look
      attractive."
    </p>
    <p class="py-2">
      帰り道を忘れた旅人が、庭師であることを受け入れるまでの物語。<a
        href="https://gardener.kokaiji.tw"
        target="_blank">八篇のエッセイ</a
      >と共に紡がれるピアノソロアルバム。イラスト担当は台湾のイラストレーター
      <a href="https://www.facebook.com/fionstewart/" target="_blank"
        >Fion Stewart</a
      >。各種ストリーミングサービスにて配信中のほか、ブックレット付きCDも数量限定で販売中。
    </p>
    <p class="py-2">
      リクエストベースで楽譜化を細々と進めているので、弾きたいという方はご連絡ください。現状、<a
        href="https://drive.google.com/file/d/1-yp3NvQ8VwV2-G7A5bwnvN3ZdjduQ3Fi/view?usp=sharing"
        target="_blank">3曲目「追憶の舟歌」の譜面</a
      >がデジタルデータ化されています。
    </p>
    <p class="pb-24">
      <a
        class="after:content-[',']"
        href="https://link-map.jp/links/ZKd_Qlse"
        target="_blank">ストリーミングサービスで聴く</a
      >
      <a href="https://www.pinkoi.com/product/mvGigPLV" target="_blank"
        >PinkoiでCDを購入する</a
      >
    </p>
    <Image
      src={gardenerImage}
      alt="Me"
      class="object-cover w-full h-64 object-[0_50%] rounded-lg opacity-90 grayscale-45 sepia-30"
    />
  </Block>
</Section>
